@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --font-h1: "Montserrat";
    --font1: "Rajdhani";
    --font-principal: "Inter";
    --font-tech: "Orbitron";
    --font-header: "Roboto";
    --font-secondary: "Poppins";
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 70px;
}

body{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #652ea4, #370f73, #1c034a, #020839, #000000);
    background-size: 300% 300%;
    background-attachment: fixed;
    animation: AnimationGradient 10s infinite ease-in-out, AnimationInitial 0s ease-in-out;
    min-width: 100%;
}

@keyframes AnimationGradient{
    0% {
        background-position: 100% 100%;
        background-size: cover;
    }
    50%{
        background-position: 100% 150%;
        background-size: cover;
    }
    100%{
        background-position: 100% 150%;
        background-size: cover;

    }
}

@keyframes AnimationInitial {
    0% {
        background-position: 0% 40%;
        rotate: -360deg;
    }

    50%{
        background-position: 50% 100%;
    }

    100%{
        background-position: 0% 50%;
    }
}

header{
    z-index: 999;
    transform: translateY(0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: transparent;
    transition: background-color 1.5s ease, backdrop-filter 1.5s ease, box-shadow 1.5s ease, transform 1.5s ease;
    margin: 30px;
    border-radius: 60px;
    padding: 10px;
    position: sticky;
    top: 2px;
    right: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
 
}

header.scrolled{
    transform: translateY(2px);
    background-color: #ffffffd9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    
}

nav{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;

}

nav > a{
    transition: 0.3s all ease;
    color: #c373e6;
    font-weight: 900;
    padding: 15px;
    text-decoration: none;
    font-size: 1.4em;
    font-family: var(--font-header);
}

a#markup{
    border-radius: 45px;
    color: white;
    background-image: linear-gradient(125deg, #190b58, #41318a, #6e5bc4);
}

nav > a:hover{
    transform: scale(1.05);
    color: white;
    background-color: #6651c3;
    transition: background-color 1s, color 1s, transform 1s;
    border-radius: 20px;
    transform: translateY(-5px);
    /*background-image: linear-gradient(125deg, #190b58, #41318a, #6e5bc4);*/
}

menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

menu > a{
    padding: 5px;
    font-size: 1.5em;
    text-decoration: none;
}

menu > a > i{
    font-size: 1.5em;
    color: #822faf;
}

menu > a > i:hover{
    color: #491db9;
    text-shadow: 1px 1px 10px rgba(116, 116, 116, 0.534);
    transform: translateY(-5px);
    transition: 1s;
}

#logo{
    width: 200px;
    cursor: pointer;
}

#logo:hover{
    transform: translateY(-5px);
    rotate: 8deg;
    transition: transform 2s ease-in-out, rotate 1s;
}

main.principal{
    background-attachment: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 50px;

}


#secao-frase{
    padding: 40px;
    display: flex;
    flex-flow: column ;
}

#secao-frase > h1{
    display: flex;
    flex-flow: column wrap;
    width: 700px;
    font-size: 7rem;
    letter-spacing: 1px;
    color: transparent;
    /*color: #d8befb;*/
    font-family: var(--font-principal);
    font-weight: 800;
    margin-bottom: 20px;
    background-image: linear-gradient(115deg, #c0b6f0, #5440a5fd, #100346);
    text-shadow: 1px 1px 1px #1a073859;
    background-clip: text;
    -webkit-background-clip: text;
}

#secao-frase > p{
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    color:  #ceb8ef;
    font-size: 1.3em;
    margin-bottom: 20px;
    font-family: var(--font-h1);
    font-weight: bolder;
}

span#span-rocket{
    margin-bottom: 20px;
    font-family: var(--font-h1);
    font-weight: bolder;
    color: transparent;
    background-image: linear-gradient(25deg, #dfd8fb, #41318a, #190b58);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.8em;

}


span#span-rocket > i{
    font-size: 1.5em;
}



button#more{
    padding: 15px;
    margin-top: 20px;
    font-family: var(--font-principal);
    width: 50%;
    font-size: 1.1em;
    border-radius: 25px;
    border: 0px;
    background-color: #8e35c5;
    cursor: pointer;
    color: #d7d7d7;
}

button#more:hover{
    transition: transform 1s ease-in-out, color 1s ease-in-out, background-color 1s ease-in-out, box-shadow .1s ease-in-out;
    background-color: #7544a7;
    box-shadow: 2px 1px 9px 6px #c9a8fd43;
    transform: translateY(-5px);
    color: white;
}

section.services{
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 30px;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.services.active{
    opacity: 1;
    transform: translateY(0);
}

article.search{
    padding: 40px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

article.search > input{
    border: 1px solid black;
    min-width: 70%;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
}

article.search > button{
    cursor: pointer;
    background-color: #370f73;
    color: white;
    font-size: 1.1em;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
}

article.search > button:hover{
    box-shadow: 2px 2px 10px 2px #5e37c1b0;
    transition: background-color .5s ease-in-out;
}

#products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:  row wrap;
    min-height: 700px;
    min-width: 100%;
    gap:  50px;

}

.AI{
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px) scale(0.98);
    transition: opacity 0.8s ease,
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-width: 400px;
    align-items: center;
    border-radius: 20px;
}

/*section.AI:hover{
    transform: translateY(-30px);
    transition: transform .5s ease-out;

}*/

.AI.show{
    opacity: 1;
    transform: translateY(0) scale(1);
}



.images{
    width: 250px;
    border-radius: 10px;
}

.button-ai{
    transform: translateY(-20px) translateX(90px);
    box-shadow: 1px 1px 11px 1px #3d3d3dab;
    padding: 10px;
    border: 55px;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 1.2em;
    color: #5cb9e8;
}

.button-ai:hover{
    transition: transform .4s ease-in-out, background-color .5s ease-in-out;
    cursor: pointer;
}

.preco{
    text-decoration: line-through 1px;
    font-size: 1.1em;
    margin-bottom: 6px;
    font-weight: 300;
    font-family: var(--font-h1);
    color: #be1919;
}

.preco-promo{
    transition: transform 0.3 ease;
    font-size: 1.5em;
    margin-top: 5px;
    font-weight: 300;
    font-family: var(--font-h1);
    color: black;
    margin-bottom: 5px;
}

.preco-promo.finalizado{
    transform: scale(1.1);
}

.mais-vendido{
    transform: translateX(-40px);
    margin-bottom: 20px;
    background-color: #eb6e1b;
    font-family: var(--font-header);
    font-size: 1em;
    padding: 5px;
    border-radius: 2px;
    font-weight: 500;
    color: white;
}

.vendas{
    transform: translateX(-30px);
    font-family: var(--font-secondary);
    margin-bottom: 10px;
}

.vendas > i{
    color: #3b7ceb;
}

.parcelas{
    font-family: var(--font-h1);
    margin-bottom: 10px;
}

.cupom{
    background-color: #0756dd3e;
    padding: 5px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 1em;
    font-family: var(--font-h1);

}

.cupom > i{
    color: #3b7ceb;
}

.animar{
    transform: scale(1.1);
}

.name-AI{
    color: #000000;
    font-family: var(--font-header);
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 10px;
}



